# THA4: Research operationalization and workflow.

>  1. The same requirements as THA3 but with a different research question and dataset.

> 2.  Build a workflow showing all important phases/components of your work.

> 3.  Update your GitHub repository accordingly.

## 1. Research question: foundation type and donation income

I want to find out the relationship between foundation's type ( public foundation, private foundation)and its donation income in China. In general, schalors think public foundation could get more donation than private foundation, however, empirical studies on this topic are limit. My research question are as follow: 

* Whether foundation type and donation income have corelation relationship.

## 2. Data Source: RICF
I will use 2016 annual report's data in RICF, which is the lastest data of China's foundation. In order to answer my question, I will merge four dataset as following:

Basic information: https://github.com/ma-ji/RICF/raw/master/2016/2016_basic.tsv

Financial_activities: https://raw.githubusercontent.com/ma-ji/RICF/master/2016/2016_financial_activities.tsv

Activities overview : https://github.com/ma-ji/RICF/blob/master/2016/2016_activities_overview.tsv

Financial position: https://raw.githubusercontent.com/ma-ji/RICF/master/2016/2016_financial_position.tsv

Dictionary:

##3.  Work Flow

**Work flow on git hub: ** 

https://github.com/ZhuZhaonan/DATA-MGMT/blob/master/THA/THA_4/THA_4_workflow.jpg

## 4. Row data

In [0]:
# 2016 basic information
import pandas as pd
df1= pd.read_csv("https://raw.githubusercontent.com/ma-ji/RICF/master/2016/2016_basic.tsv",sep='\t')
df_bas=df1[["ricf_oid","ba_ntr","ba_fdt","ba_fnd","ba_evi"]] 
df_bas.rename(columns={'ba_evi':'ba_evl'}, inplace = True)
print(df_bas.head(5))

   ricf_oid ba_ntr       ba_fdt   ba_fnd ba_evl
0      3490    NaN  2005年12月31日    200万元     1A
1      5690    NaN  2017年02月09日       --     --
2      3070    NaN  2007年10月15日    500万元    未参评
3      1583    NaN  1993年07月08日  6,200万元    未参评
4      3884    NaN  2014年07月04日    200万元     --

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [0]:
# 2016 activities overview

df2= pd.read_csv('https://raw.githubusercontent.com/ma-ji/RICF/master/2016/2016_activities_overview.tsv',sep='\t')
list(df2)
df_ove= df2[['ricf_oid','ao_ad','ao_adn']]
print(df_ove.head(5))

   ricf_oid         ao_ad        ao_adn
0      2161    100,000.00          0.00
1      1364  3,272,400.40          0.00
2      2213          0.00          0.00
3      3889  3,073,774.50          0.00
4      5095    100,000.00  1,916,000.00

In [0]:
#2016 Financial activities

df3= pd.read_csv('https://raw.githubusercontent.com/ma-ji/RICF/master/2016/2016_financial_activities.tsv',sep='\t')
list(df3)
df_act=df3[['ricf_oid','fa_dine_this','fa_dinu_this']]
print(df_act.head(5))

   ricf_oid fa_dine_this  fa_dinu_this
0      2161         0.00    100,000.00
1      1364         0.00  3,272,400.40
2      2213         0.00          0.00
3      3889         0.00  3,073,774.50
4      5095         0.00  2,016,000.00

In [0]:
# 2016 Financial position

df4= pd.read_csv('https://raw.githubusercontent.com/ma-ji/RICF/master/2016/2016_financial_position.tsv',sep='\t')
list(df4)
df_pos= df4[['ricf_oid','fp_ntt_end','fp_tt_end']]
print(df_pos.head(5))

   ricf_oid    fp_ntt_end     fp_tt_end
0      2161  5,370,043.63  5,612,310.95
1      1364  9,861,352.00  9,861,352.00
2      2213    563,301.45    563,301.45
3      3889  2,283,367.43  2,383,367.43
4      5095  4,104,496.61  4,104,496.61

In [0]:
# meger df_bas and df_ove
df_5=df_bas.merge(df_ove, on="ricf_oid", how="inner")
print(df_5.head(5))

# meger df_5 and df_act
df_6= df_5.merge(df_act,  on="ricf_oid", how="inner")
print(df_6.head(5))

# meger df_6 and df_pos
data_raw= df_6.merge(df_pos,  on="ricf_oid", how="inner")
data_raw.to_csv('data_raw.csv')

   ricf_oid  ba_ntr      ba_fdt    ba_fnd ba_evl          ao_ad ao_adn
0      2288  非公募基金会  2011-07-04    200.00    未参评     379,538.00   0.00
1      2256  非公募基金会  2001-06-01    220.00    未参评   6,019,570.20   0.00
2      1059  非公募基金会  2013-12-13    200.00    未参评       9,200.00   0.00
3       379  非公募基金会  2007-06-21  2,000.00     1A  16,793,400.00   0.00
4       972  非公募基金会  2013-05-08    400.00    未参评     709,826.90   0.00
   ricf_oid  ba_ntr      ba_fdt    ba_fnd ba_evl          ao_ad ao_adn  \
0      2288  非公募基金会  2011-07-04    200.00    未参评     379,538.00   0.00
1      2256  非公募基金会  2001-06-01    220.00    未参评   6,019,570.20   0.00
2      1059  非公募基金会  2013-12-13    200.00    未参评       9,200.00   0.00
3       379  非公募基金会  2007-06-21  2,000.00     1A  16,793,400.00   0.00
4       972  非公募基金会  2013-05-08    400.00    未参评     709,826.90   0.00

    fa_dine_this  fa_dinu_this
0           0.00    379,538.00
1   1,273,789.30  4,745,780.90
2           0.00      9,200.00
3  16,793,400.00          0.00
4           0.00    709,826.90

## 5. Cleaning data

In [0]:
data_raw.shape
data_raw.dtypes
data_raw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1769 entries, 0 to 1768
Data columns (total 11 columns):
ricf_oid        1769 non-null int64
ba_ntr          1740 non-null object
ba_fdt          1769 non-null object
ba_fnd          1769 non-null object
ba_evl          1729 non-null object
ao_ad           1769 non-null object
ao_adn          1769 non-null object
fa_dine_this    1769 non-null object
fa_dinu_this    1769 non-null object
fp_ntt_end      1769 non-null object
fp_tt_end       1769 non-null object
dtypes: int64(1), object(10)
memory usage: 165.8+ KB

In [0]:
print(data_raw.head(5))

   ricf_oid  ba_ntr      ba_fdt    ba_fnd ba_evl          ao_ad ao_adn  \
0      2288  非公募基金会  2011-07-04    200.00    未参评     379,538.00   0.00
1      2256  非公募基金会  2001-06-01    220.00    未参评   6,019,570.20   0.00
2      1059  非公募基金会  2013-12-13    200.00    未参评       9,200.00   0.00
3       379  非公募基金会  2007-06-21  2,000.00     1A  16,793,400.00   0.00
4       972  非公募基金会  2013-05-08    400.00    未参评     709,826.90   0.00

    fa_dine_this  fa_dinu_this     fp_ntt_end      fp_tt_end
0           0.00    379,538.00   2,877,634.44   3,218,571.02
1   1,273,789.30  4,745,780.90   4,351,660.63   5,822,354.13
2           0.00      9,200.00   2,459,550.35   2,459,550.35
3  16,793,400.00          0.00  75,637,538.48  76,188,189.52
4           0.00    709,826.90   4,865,096.85   4,865,096.86

In [0]:
data_raw['fa_dine_this']=data_raw['fa_dine_this'].apply(lambda x: x.replace(',', '')).astype('float')
data_raw['fa_dinu_this']=data_raw['fa_dinu_this'].apply(lambda x: x.replace(',', '')).astype('float')
data_raw['ao_ad']=data_raw['ao_ad'].apply(lambda x: x.replace(',', '')).astype('float')
data_raw['ao_adn']=data_raw['ao_adn'].apply(lambda x: x.replace(',', '')).astype('float')
print(data_raw.head(5))

   ricf_oid  ba_ntr      ba_fdt    ba_fnd ba_evl       ao_ad  ao_adn  \
0      2288  非公募基金会  2011-07-04    200.00    未参评    379538.0     0.0
1      2256  非公募基金会  2001-06-01    220.00    未参评   6019570.2     0.0
2      1059  非公募基金会  2013-12-13    200.00    未参评      9200.0     0.0
3       379  非公募基金会  2007-06-21  2,000.00     1A  16793400.0     0.0
4       972  非公募基金会  2013-05-08    400.00    未参评    709826.9     0.0

   fa_dine_this  fa_dinu_this     fp_ntt_end      fp_tt_end
0           0.0      379538.0   2,877,634.44   3,218,571.02
1     1273789.3     4745780.9   4,351,660.63   5,822,354.13
2           0.0        9200.0   2,459,550.35   2,459,550.35
3    16793400.0           0.0  75,637,538.48  76,188,189.52
4           0.0      709826.9   4,865,096.85   4,865,096.86

In [0]:
# doi_1= donation income of 2016
data_raw["doi_1"]=data_raw["fa_dine_this"]+data_raw["fa_dinu_this"]
data_raw

In [0]:
# doi_2= donation income of 2016
data_raw["doi_2"]=data_raw["ao_ad"]+data_raw["ao_adn"]
data_raw

In [0]:
# cleaning 
data_raw.ba_ntr.fillna('None')
data_raw.ao_ad.fillna('None')
data_raw.ao_adn.fillna('None')
data_raw.fa_dine_this.fillna('None')
data_raw.fa_dinu_this.fillna('None')
data_raw=data_raw.dropna()
print(data_raw.head(5))

In [0]:
# cleaning fp_ntt_end and fp_tt_end
data_raw=data_raw[ ~ data_raw['fp_tt_end'].str.contains('单位：人民币元') ]
data_raw['fp_ntt_end']=data_raw['fp_ntt_end'].apply(lambda x: x.replace(',', '')).astype('float')
data_raw['fp_tt_end']=data_raw['fp_tt_end'].apply(lambda x: x.replace(',', '')).astype('float')

In [0]:
# cleaning ba_fnd ,转换单位为元
data_raw.ba_fnd.str.contains('万元')
data_raw['ba_fnd']=data_raw['ba_fnd'].apply(lambda x: x.replace(',', '')).astype('float')
data_raw['ba_fnd_r']=data_raw['ba_fnd']*10000
data_raw

In [0]:
# coding ba_ntr
data_raw=data_raw.replace('公募基金会',0)
data_raw1=data_raw.replace('非公募基金会',1)
data_raw1

In [0]:
data_raw1.info()

In [0]:
# cleaning ba_fdt

data_raw1['ba_fdt_y']=data_raw1['ba_fdt'].str[0:4]
data_raw2=data_raw1[ ~ data_raw1['ba_fdt_y'].str.contains('发起人') ]
data_raw2['ba_fdt_y']=data_raw2['ba_fdt_y'].astype('float')
data_raw2

In [0]:
data_raw2['ba_fdt_o']=2017-data_raw2['ba_fdt_y']
data_clean=data_raw2
data_clean.to_csv('data_clean.csv')
data_clean.info()

In [0]:
data_clean.dtypes

## 7. Data analysis

In [0]:
data_analysis=data_clean[['ricf_oid','ba_ntr','doi_1','ba_fdt_o','ba_fnd_r']]
data_analysis
data_analysis.to_csv('data_analysis.csv')

In [0]:
df=data_analysis.corr(method='spearman')
df

          ricf_oid    ba_ntr     doi_1  ba_fdt_o  ba_fnd_r
ricf_oid  1.000000  0.289898 -0.082209 -0.707322 -0.284287
ba_ntr    0.289898  1.000000 -0.130568 -0.477681 -0.476159
doi_1    -0.082209 -0.130568  1.000000  0.103680  0.261800
ba_fdt_o -0.707322 -0.477681  0.103680  1.000000  0.332886
ba_fnd_r -0.284287 -0.476159  0.261800  0.332886  1.000000

## 8. Conclusion and discussion

The foundation' s type and donation income have correlationship, the correlation coefficient R= --0.130568. I also found that foundation's type have correlationship with founding year and intial fund.